
<html>
{% for message in get_flashed_messages() %}
<h3> {{ message }} </h3>
{% endfor %}
<head>
    <meta charset="UTF-8">
    <title>Pink Floyd Inc.</title>
    <link rel="shortcut icon" href="https://www.seekpng.com/png/detail/476-4760343_download-neon-plus-sign-clipart-computer-icons-clip.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css')}}">

</head>
<body>

    <header>
    <div class="wrapper">
        <div class="logo">
            <img src="https://i.postimg.cc/mg4rWBmv/logo.png" alt="">
        </div>
<ul class="nav-area">
<li><a href="{{ url_for ('login')}}">Login</a></li>
<li><a href="{{ url_for ('about')}}">About</a></li>
<li><a href="#" onclick="alert('+44 7654345687');">Contact</a></li>
</ul>

</div>
<div class="welcome-text">
        <h1>
We are <span>Creative</span></h1>
<h3> <span> Are you? </span> </h3>
<a href="#">Contact US</a>
    </div>
</header>

</body>
</html>
